<!DOCTYPE html>
<html>
  <head>
    <title>NachoTown™️</title>
    <link rel="icon" href="https://www.famousbirthdays.com/headshots/guy-fieri-9.jpg">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
