<h1>Login</h1>

<h4><%= flash[:notice] %></h4>

<!-- form will POST to '/login' -->
<%= form_tag(login_path) do %>
  <%= label_tag :username %>
  <%= text_field_tag :username %>

  <%= label_tag :password %>
  <%= password_field_tag :password %>

  <%= submit_tag 'Login' %>
<% end %>
